@page "/device";

<PageTitle>Device Information</PageTitle>

@using System.Security.Claims;

@inject UserService userService;

@inject DeviceService deviceService;
@inject NotificationService Notification;
@inject DialogService Dialog;

<div class="container-fluid">
    <RadzenTemplateForm TItem="Device" Data="@objDevice" Submit=@OnFormSubmit>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add - Device Information</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="Device Name *" />
                                    <RadzenTextBox Name="DeviceName" @bind-Value=@objDevice.DeviceName MaxLength="50" class="form-control" />
                                    <RadzenRequiredValidator Component="DeviceName" Text="Device Name is Required" />
                                    <RadzenLengthValidator Component="DeviceName" Min="5" Text="Device Name should be at least 5 Characters" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="UUID *" />
                                    <RadzenTextBox Name="UUID" @bind-Value=@objDevice.UUID MaxLength="50" oninput="this.value=this.value.toUpperCase()" class="form-control" />
                                    <RadzenRequiredValidator Component="UUID" Text="UUID is Required" />
                                    <RadzenLengthValidator Component="UUID" Min="5" Text="UUID should be at least 5 Characters" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="PUID *" />
                                    <RadzenTextBox Name="PUID" @bind-Value=@objDevice.PUID MaxLength="50" oninput="this.value=this.value.toUpperCase()" class="form-control" />
                                    <RadzenRequiredValidator Component="PUID" Text="PUID is Required" />
                                    <RadzenLengthValidator Component="PUID" Min="5" Text="PUID should be at least 5 Characters" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="Device Key *" />
                                    <RadzenTextBox Name="DeviceKey" @bind-Value=@objDevice.DeviceKey MaxLength="50" oninput="this.value=this.value.toUpperCase()" class="form-control" />
                                    <RadzenRequiredValidator Component="DeviceKey" Text="Device Key is Required" />
                                    <RadzenLengthValidator Component="DeviceKey" Min="5" Text="Device Key should be at least 5 Characters" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="Device Type *" />
                                    <RadzenDropDown Name="DeviceType" Data="@listDeviceType"  Placeholder="-- Choose --" TextProperty="Name" ValueProperty="Name" @bind-Value="@((objDevice.DeviceType))" class="form-control" />
                                    <RadzenRequiredValidator Component="DeviceType" Text="Select Device Type" DefaultValue="0" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="btn-vcenter">
                                        <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </RadzenTemplateForm>

    @* DataGrid Section Starts Here*@
    @*------------------------------------------------------------------------------*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">View - Device Information</h4>
                </div>

                <div class="card-body">
                    <RadzenDataGrid Data="@modelData" TItem="Device" PageSize="10" AllowPaging="true" ShowPagingSummary="true" AllowSorting="true" AllowFiltering="true" PagerHorizontalAlign="HorizontalAlign.Left"
                                    ColumnWidth="100%" FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                        <Columns>
                            <RadzenDataGridColumn TItem="Device" Property="DeviceId" Title="DEVICE ID" Frozen="true" Width="10%" Filterable="false" Visible="false" />
                            <RadzenDataGridColumn TItem="Device" Property="DeviceName" Title="DEVICE NAME" Width="15%" />
                            <RadzenDataGridColumn TItem="Device" Property="UUID" Title="UUID" Width="12%" />
                            <RadzenDataGridColumn TItem="Device" Property="PUID" Title="PUID" Width="12%" />
                            <RadzenDataGridColumn TItem="Device" Property="DeviceKey" Title="KEY" Width="12%" />
                            <RadzenDataGridColumn TItem="Device" Property="DeviceType" Title="DEVICE TYPE" Width="12%" />
                            <RadzenDataGridColumn TItem="Device" Property="Status" Title="STATUS" Width="12%" Filterable="false">
                                <Template Context="data">
                                    @if (@data.Status == "Active")
                                    {
                                        <span class="actives">@data.Status</span>
                                    }
                                    else if (@data.Status == "In Active")
                                    {
                                        <span class="inactive">@data.Status</span>
                                    }
                                    else
                                    {
                                        <span class="deleted">@data.Status</span>
                                    }
                                </Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn TItem="Device" Filterable="false" Sortable="false" Width="15%" Title="ACTION" TextAlign="TextAlign.Center">
                                <Template Context="actionRecord">
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Click="@((args) =>GridEditButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Edit" />
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@((args) =>GridDeleteButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Delete" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    Device objDevice = new();
    IEnumerable<Device>? modelData;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    public class DropdownValue
    {
        public string? Name { get; set; }
    }

    List<object> listDeviceType = new List<object>()
    {
        new DropdownValue() { Name="Deposit" },
        new DropdownValue() { Name="Payout" },
    };


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthState!).User;
        var userEmail = user.Claims.Where(c => c.Type == ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();
        var userAccount = userService.GetbyUsername(userEmail);
        objDevice.CreatedBy = userAccount.UserId;
        
        await LoadDataGrid();
    }

    protected async Task OnFormSubmit()
    {
        try
        {
            var result = await deviceService.Insert(objDevice);
            if (result == true)
            {
                await LoadDataGrid();
                Reset();
                Notification.Notify(NotificationSeverity.Success, summary: "Record Inserted Successfully");
            }
            else
            {
                Notification.Notify(NotificationSeverity.Warning, summary: "This Record Already Exists");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task GridEditButtonClick(MouseEventArgs args, dynamic data)
    {
        var dialogResult = await Dialog.OpenAsync<EditDevice>("Edit - Device Information", new Dictionary<string, object>() { { "DeviceId", data.DeviceId } });
        if (Convert.ToBoolean(dialogResult) == true)
        {
            await LoadDataGrid();
        }
    }

    protected async Task GridDeleteButtonClick(MouseEventArgs args, dynamic data)
    {
        try
        {
            if (await Dialog.Confirm("Are you sure you want to delete this record?", "Confirm", new ConfirmOptions() { OkButtonText = "Yes, Delete", CancelButtonText = "No, Cancel" }) == true)
            {
                var result = await deviceService.Delete(data.DeviceId);
                Notification.Notify(NotificationSeverity.Success, summary: "Record Deleted Successfully");
                await LoadDataGrid();
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task LoadDataGrid()
    {
        modelData = await Task.Run(deviceService.SelectAll);
        StateHasChanged();
    }

    private void Reset()
    {
        objDevice = new Device { DeviceName = string.Empty, UUID = string.Empty, PUID = string.Empty, DeviceKey = string.Empty };
    }
}
