@page "/ewallet";

<PageTitle>eWallet Information</PageTitle>

@using System.Security.Claims;

@inject UserService userService;

@inject EWalletService ewalletService;
@inject QRCodeService qrcodeService;

@inject NotificationService Notification;
@inject DialogService Dialog;

<div class="container-fluid">
    <RadzenTemplateForm TItem="EWallet" Data="@objEWallet" Submit=@OnFormSubmit>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add - eWallet Information</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="eWallet No *" />
                                    <RadzenTextBox Name="EWalletNo" @bind-Value=@objEWallet.EWalletNo MaxLength="50" oninput="this.value=this.value.toUpperCase()" class="form-control" />
                                    <RadzenRequiredValidator Component="EWalletNo" Text="eWallet No is Required" />
                                    <RadzenRegexValidator Component="EWalletNo" Text="eWallet No must be Alphabets / Numbers" Pattern="[a-zA-Z0-9]*$" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="eWallet Name *" />
                                    <RadzenTextBox Name="EWalletName" @bind-Value=@objEWallet.EWalletName MaxLength="100" class="form-control" />
                                    <RadzenRequiredValidator Component="EWalletName" Text="eWallet Name is Required" />
                                    <RadzenLengthValidator Component="EWalletName" Min="3" Text="eWallet Name should be at least 3 Characters" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <RadzenLabel Text="QR Code *" />
                                    <RadzenDropDown Name="QRCodeName" Data=@listQRCode Placeholder="-- Choose --" TextProperty="QRCodeName" ValueProperty="QRCodeId" @bind-Value="@((objEWallet.QRCodeId))" class="form-control" />
                                    <RadzenRequiredValidator Component="QRCodeName" Text="Select QR Code" DefaultValue="0" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="btn-vcenter">
                                        <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </RadzenTemplateForm>

    @* DataGrid Section Starts Here*@
    @*------------------------------------------------------------------------------*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">View - eWallet Information</h4>
                </div>

                <div class="card-body">
                    <RadzenDataGrid Data="@modelData" TItem="EWallet" PageSize="10" AllowPaging="true" ShowPagingSummary="true" AllowSorting="true" AllowFiltering="true" PagerHorizontalAlign="HorizontalAlign.Left"
                                    ColumnWidth="100%" FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                        <Columns>
                            <RadzenDataGridColumn TItem="EWallet" Property="EWalletId" Title="EWALLET ID" Frozen="true" Width="10%" Filterable="false" Visible="false" />
                            <RadzenDataGridColumn TItem="EWallet" Property="EWalletNo" Title="EWALLET NO" Width="20%" />
                            <RadzenDataGridColumn TItem="EWallet" Property="EWalletName" Title="EWALLET NAME" Width="20%" />
                            <RadzenDataGridColumn TItem="EWallet" Property="QRCodeName" Title="QR CODE" Width="20%" />
                            <RadzenDataGridColumn TItem="EWallet" Property="Status" Title="STATUS" Width="15%" Filterable="false">
                                <Template Context="data">
                                    @if (@data.Status == "Active")
                                    {
                                        <span class="actives">@data.Status</span>
                                    }
                                    else if (@data.Status == "In Active")
                                    {
                                        <span class="inactive">@data.Status</span>
                                    }
                                    else
                                    {
                                        <span class="deleted">@data.Status</span>
                                    }
                                </Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn TItem="EWallet" Filterable="false" Sortable="false" Width="20%" Title="ACTION" TextAlign="TextAlign.Center">
                                <Template Context="actionRecord">
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Click="@((args) =>GridEditButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Edit" />
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@((args) =>GridDeleteButtonClick(args, actionRecord))" @onclick:stopPropagation="true" title="Delete" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    EWallet objEWallet = new();
    IEnumerable<EWallet>? modelData;
    IEnumerable<QRCode>? listQRCode;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthState!).User;
        var userEmail = user.Claims.Where(c => c.Type == ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();
        var userAccount = userService.GetbyUsername(userEmail);
        objEWallet.CreatedBy = userAccount.UserId;

        await LoadQRCode();
        await LoadDataGrid();
    }

    protected async Task OnFormSubmit()
    {
        try
        {
            var result = await ewalletService.Insert(objEWallet);
            if (result == true)
            {
                await LoadDataGrid();
                 Notification.Notify(NotificationSeverity.Success, summary: "Record Inserted Successfully");
                Reset();
            }
            else
            {
                Notification.Notify(NotificationSeverity.Warning, summary: "This Record Already Exists");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task GridEditButtonClick(MouseEventArgs args, dynamic data)
    {
        var dialogResult = await Dialog.OpenAsync<EditEWallet>("Edit - eWallet Information", new Dictionary<string, object>() { { "EWalletId", data.EWalletId } });
        if (Convert.ToBoolean(dialogResult) == true)
        {
            await LoadDataGrid();
        }
    }

    protected async Task GridDeleteButtonClick(MouseEventArgs args, dynamic data)
    {
        try
        {
            if (await Dialog.Confirm("Are you sure you want to delete this record?", "Confirm", new ConfirmOptions() { OkButtonText = "Yes, Delete", CancelButtonText = "No, Cancel" }) == true)
            {
                var result = await ewalletService.Delete(data.EWalletId);
                Notification.Notify(NotificationSeverity.Success, summary: "Record Deleted Successfully");
                await LoadDataGrid();
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task LoadDataGrid()
    {
        modelData = await Task.Run(ewalletService.SelectAll);
        StateHasChanged();
    }

    async Task LoadQRCode()
    {
        listQRCode = await Task.Run(() => qrcodeService.SelectActive());
    }

    private void Reset()
    {
        objEWallet = new EWallet { EWalletNo = string.Empty, EWalletName = string.Empty };
    }
}
