@page "/editdevicebind/{DeviceBindId:int}/{BankId:int}";

@using System.Security.Claims;

@inject UserService userService;

@inject DeviceBindService deviceBindService;
@inject DeviceService deviceService;
@inject MerchantService merchantService;
@inject BankService bankService;
@inject BankAccountService bankAccountService;
@inject RecordStatusService recordStatusService;

@inject NotificationService Notification;
@inject DialogService Dialog;

<RadzenContent class="remove-content">
    <ChildContent>
        <RadzenTemplateForm TItem="DeviceBind" Data="@objDeviceBind" Submit=@OnFormSubmit>
            <div class="row">
                <div class="form-group">
                    <RadzenLabel Text="Device *" />
                    <RadzenDropDown Name="DeviceName" Data=@listDevice Placeholder="-- Choose --" TextProperty="DeviceName" ValueProperty="DeviceId" @bind-Value="@((objDeviceBind.DeviceId))" class="form-control" />
                    <RadzenRequiredValidator Component="DeviceName" Text="Select Device" DefaultValue="0" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Merchant / Agent *" />
                    <RadzenDropDown Name="MerchantName" Data=@listMerchant Placeholder="-- Choose --" TextProperty="MerchantName" ValueProperty="MerchantId" @bind-Value="@((objDeviceBind.MerchantId))" class="form-control" />
                    <RadzenRequiredValidator Component="MerchantName" Text="Select Merchant / Agent" DefaultValue="0" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Bank *" />
                    <RadzenDropDown Name="BankName" Data=@listBank TextProperty="BankName" ValueProperty="BankId" @bind-Value="@((objDeviceBind.BankId))" Placeholder="-- Choose --" class="form-control" Change="@BankOnChange" />
                    <RadzenRequiredValidator Component="BankName" Text="Select Bank" DefaultValue="0" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Account No *" />
                    <RadzenDropDown Name="AccountNo" Data=@listBankAccount Placeholder="-- Choose --" TextProperty="AccountNo" ValueProperty="BankAccountId" @bind-Value="@((objDeviceBind.BankAccountId))" class="form-control" />
                    <RadzenRequiredValidator Component="AccountNo" Text="Select Account No" DefaultValue="0" />
                </div>

                <div class="form-group">
                    <RadzenLabel Text="Status" />
                    <RadzenDropDown Name="Status" Data="@listRecordStatus" TextProperty="Status" ValueProperty="StatusId" @bind-Value="@((objDeviceBind.StatusId))" class="form-control" />
                    <RadzenRequiredValidator Component="Status" Text="Select Status" DefaultValue="0" />
                </div>
            </div>

            <div class="row">
                <div class="col offset-sm-3 mt-3">
                    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save" Icon="save" />
                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="Cancel" Icon="cancel" Click="@CancelButtonClick" class="ms-2" />
                </div>
            </div>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenContent>

@code {
    [Parameter]
    public int DeviceBindId { get; set; }
    [Parameter]
    public int BankId { get; set; }
    DeviceBind objDeviceBind = new();

    IEnumerable<Device>? listDevice;
    IEnumerable<Merchant>? listMerchant;
    IEnumerable<Bank>? listBank;
    IEnumerable<BankAccount>? listBankAccount;
    IEnumerable<RecordStatus>? listRecordStatus;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDevice();
        await LoadMerchant();
        await LoadBank();
        await LoadBankAccountNo();
        await LoadStatus();
        objDeviceBind = await deviceBindService.SelectById(DeviceBindId);

        var user = (await AuthState!).User;
        var userEmail = user.Claims.Where(c => c.Type == ClaimTypes.Name).Select(x => x.Value).FirstOrDefault();
        var userAccount = userService.GetbyUsername(userEmail);
        objDeviceBind.UpdatedBy = userAccount.UserId;
    }

    protected async Task OnFormSubmit()
    {
        try
        {
            var result = await deviceBindService.Update(objDeviceBind);
            if (result == true)
            {
                Dialog.Close(true);
                Notification.Notify(NotificationSeverity.Success, summary: "Record Updated Successfully");
            }
            else
            {
                Notification.Notify(NotificationSeverity.Warning, summary: "This Record Already Exists");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, summary: ex.Message);
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        await Task.Run(() => Dialog.Close());
    }

    async Task LoadDevice()
    {
        listDevice = await Task.Run(deviceService.SelectActive);
    }

    async Task LoadMerchant()
    {
        listMerchant = await Task.Run(merchantService.SelectActive);
    }

    async Task LoadBank()
    {
        listBank = await Task.Run(() => bankService.SelectActive());
    }

    async Task LoadBankAccountNo()
    {
        listBankAccount = await Task.Run(() => bankAccountService.SelectBankAccountNo(BankId));
    }

    private void BankOnChange(object value)
    {
        objDeviceBind.BankAccountId = 0;
        listBankAccount = bankAccountService.SelectBankAccountNo(Convert.ToInt32(value));
    }

    protected async Task LoadStatus()
    {
        listRecordStatus = await Task.Run(recordStatusService.SelectAll);
    }

    private void Reset()
    {
        objDeviceBind = new DeviceBind { DeviceName = null, MerchantName = null, BankName = null };
    }
}